*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark-grey: #170617bd;
  --light-grey: #f5f6f7;
  --black: #000;
  --white: #fff;
  --grey: #3b3b48;
  --golden-yellow: #b965aa;
  --yellow: #282317;
  --gold: #1d101a;
  --orange: #2e2414;
  --dark-orange: #e1bff3;
}

body {
  background-color: var(--dark-grey);
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  padding: 30px;
}

header {
  color: var(--light-grey);
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  margin: 25px 0;
}

.rules-container {
  display: none;
  background-color: var(--light-grey);
  color: var(--black);
  max-width: 100%;
  margin: 20px auto;
  height: 300px;
  border-radius: 10px;
  overflow-y: scroll;
}

.rules-container ul {
  list-style-type: none;
}

.points {
  margin-top: 15px;
}

main {
  background-color: var(--light-grey);
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  margin: auto;
  justify-items: center;
  max-width: 100%;
  border-radius: 10px;
}

#dice {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 15px;
  justify-content: space-around;
  margin-bottom: 15px;
}

.die {
  width: 15%;
  max-width: 60px;
  min-width: 40px;
  height: 15%;
  text-align: center;
  line-height: 40px;
  font-size: 2rem;
  color: var(--black);
  background-color: var(--white);
  white-space: nowrap;
  margin-right: 15px;
  border: 4px solid var(--black);
  padding: 10px;
}

.rounds-text {
  text-align: center;
}

input[type="radio"]:disabled + label {
  color: var(--grey);
}

#score-history {
  margin-top: 15px;
  text-align: center;
  list-style-position: inside;
}

.btn {
  cursor: pointer;
  width: 100%;
  max-width: 200px;
  margin: 10px 0 10px 0.5rem;
  color: var(--black);
  background-color: var(--gold);
  background-image: linear-gradient(var(--golden-yellow), var(--orange));
  border-color: var(--gold);
  border-width: 3px;
}

.btn:hover:enabled {
  background-image: linear-gradient(var(--yellow), var(--dark-orange));
}

.btn:disabled {
  opacity: 0.5;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

@media screen and (max-width: 768px) {
  body {
    padding: 20px;
    font-size: 1rem;
  }

  main {
    width: 100%;
  }

  .die {
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
  }

  .btn {
    max-width: 180px;
  }

  h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 600px) {
  body {
    padding: 10px;
    font-size: 0.9rem;
  }

  main {
    width: 90%;
  }

  .rules-container {
    width: 90%;
  }

  h1 {
    font-size: 1.8rem;
  }

  .die {
    width: 40px;
    height: 40px;
    font-size: 1.3rem;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    line-height: 40px;
    margin-bottom: 20px;
  padding-bottom: 38px;
  }

  .btn {
    max-width: 160px;
  }
}
